body {
    background: rgb(153,153,153);
    background: linear-gradient(90deg, rgba(153,153,153,1) 0%, rgba(70,70,70,1) 50%, rgba(153,153,153,1) 100%);
}

.title {
    display: block;
    font-family: 'Righteous', cursive;
    font-size: 50px;
    color: seashell;
    text-shadow: 3px 3px 5px #000000;
    text-align: center;
    margin-bottom: -50px;;
}


.photoViewer {
    display: flex;
    background-color: deepskyblue;
    width: 800px;
    height: 300px;
    box-shadow: 8px 8px 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
}

.left {
    display: flex;
    background-color: bisque;
    width: 50px;
    height: 300px;
}

.left:hover .arrow-left {
    opacity: 0.3;
    cursor: pointer;
}

.arrow-left {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.Container {
    display: flex;
    position: relative;
    top: 200px;
    background-color: darkslategrey;
    opacity: 0.7;
    width: 700px;
    height: 100px;
}


#photo {
    display: flex;
    position: absolute;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
    width: 700px;
}

#photoTitle {
    display: flex;
    position: absolute;
    bottom: 40px;
    left: 10px;
    color: white;
    text-shadow: 2px 2px 1px black;
}

#photoDescription {
    display: flex;
    position: absolute;
    bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-shadow: 2px 2px 1px black;
}

.right {
    display: flex;
    background-color: bisque;
    width: 50px;
    height: 300px;
}

.right:hover .arrow-right {
    opacity: 0.3;
    cursor: pointer;
}


.arrow-right {
    display: block;
    transform: rotate(180deg);
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#thumbnails1 {
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: auto;
    margin-top: 5px;
}

.thumb {
    align-items: center;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    width: 60px;
    height: 60px;
    box-shadow: 0px 3px 5px black;
    border-radius: 5px;
}

.thumb:hover {
    width: 65px;
    height: 65px;
    margin-top: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
}




